
body {
	font-family: 'Allerta', sans-serif;
	margin: 0;
}

.titulo {
	font-family: 'Montserrat', sans-serif;
	font-size: 70px;
	margin-top: 70px;
	margin-bottom: 0;
}

.title-a {
	font-size: 24px;
	margin-top: 0;
}

.title-b {
	font-size: 50px;
	margin-bottom: 20px;
}

.guitarra {
	overflow: hidden;
	/*La propiedad overflow especifica qué sucede si el contenido se desborda del cuadro de un elemento.
	Esta propiedad especifica si se debe recortar contenido o agregar barras de desplazamiento cuando 
	el contenido de un elemento es demasiado grande para caber en un área específica.

	Nota: La propiedad overflow solo funciona para elementos de bloque con una altura especificada.

	Valores de propiedad:
	
	visible: El desbordamiento no está recortado. Se renderiza fuera del cuadro del elemento. Esto es predeterminado.
	hidden: El desbordamiento se recorta y el resto del contenido será invisible.
	scroll: El desbordamiento se recorta, pero se agrega una barra de desplazamiento para ver el resto del contenido.
	auto: Si se recorta el desbordamiento, se debe agregar una barra de desplazamiento para ver el resto del contenido.
	initial: Establece esta propiedad a su valor predeterminado.
	inherit: Hereda esta propiedad de su elemento principal.*/
	border: 1px solid #1f313c;
	margin: 10px;
	padding: 10px;
}

.guitarras {
	color: #1f313c;
}

.guitarras ol {
	margin: 0;
	padding: 0;
}

.guitarras h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
}

.portada {
	background-image: url('../images/background.png');
	color: white;
	padding: 20px;
}

.portada button {
	margin-bottom: 70px;
}

.menu {
	display: inline-block;
	font-size: 24px;
}

.menu li{
	display: inline-block;
	margin-left: 30px;
}

.logotipo {
	display: inline-block;
}

.contenedor {
	width: 800px;
	margin: auto;
}

.derecha {
	float: right;
}

.izquierda {
	float: left;
}

.contenedor-guitarra-a {
	padding-left: 20px;
}

.contenedor-guitarra-b {
	margin-left: 370px; 
}