
* {
	/*width: tamanho*/
	/*height: tamanho*/
	padding: 10px;
	/*padding-top: 10px;
	padding-right: 13px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding: 10px 13px 5px 15px;*/
	margin: 10px;
	/*margin-top: 10px;
	margin-right: 13px;
	margin-bottom: 5px;
	margin-left: 15px;
	margin: 10px 13px 5px 15px;*/
	border: 2px solid red;
}

body {
	font-family: 'Allerta', sans-serif;
}

.titulo {
	font-family: 'Montserrat', sans-serif;
	font-size: 70px;
}

.title-a {
	font-size: 24px;
}

.title-b {
	font-size: 50px;
}

.guitarras {
	color: #1f313c;
}

.guitarras h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
}

.portada {
	background-image: url('../images/background.png');
	color: white;
}

.menu {
	display: inline-block;
	font-size: 24px;
}

.menu li{
	display: inline-block;
}

.logotipo {
	display: inline-block;
}