
body {
	font-family: 'Allerta', sans-serif;
	margin: 0;
}

.titulo {
	font-family: 'Montserrat', sans-serif;
	font-size: 70px;
	margin-top: 70px;
	margin-bottom: 0;
}

.title-a {
	font-size: 24px;
	margin-top: 0;
}

.title-b {
	font-size: 50px;
	margin-bottom: 20px;
}

.guitarra {
	border: 1px solid #1f313c;
	margin: 10px;
	padding: 10px;
}

.guitarras {
	color: #1f313c;
}

.guitarras ol {
	margin: 0;
	padding: 0;
}

.guitarras h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
}

.portada {
	background-image: url('../images/background.png');
	color: white;
	padding: 20px;
}

.portada button {
	margin-bottom: 70px;
}

.menu {
	display: inline-block;
	font-size: 24px;
	position: absolute;
	right: 0;
}

.menu li{
	display: inline-block;
	margin-left: 30px;
}

.logotipo {
	display: inline-block;
}

.contenedor {
	width: 800px;
	margin: auto;
}

.derecha {
	float: right;
	position: relative;
	top: -143px;
}

.izquierda {
	float: left;
	position: relative;
	top: 80px;
}

.contenedor-guitarra-a {
	padding-left: 20px;
}

.contenedor-guitarra-b {
	margin-left: 370px; 
}

.header {
	position: relative;
	/*Tipos de positions

	Sirven para ubicar elementos, pueden recibir las propiedades top, bottom, left y right. 
	Estas propiedades pueden recibir px, %(porcentajes), y demás valores. Algunos de los positions más comunes son

	Position: absolute = ubica a los elementos sin tener en cuenta los demás elementos 
	(no le importa los demás elementos, le da igual ponerse encima de otros elementos). 
	para ubicarlo (darle cordenadas como left por ejemplo) este se empieza a ubicar a partir su elemento padre 
	que tenga position relative y de no tener un padre con position relative se ubica partir del body.

	Position: Fixed = mantiene fijos a los elementos en un lugar fijo en la pagina sin importar que se haga scroll. 
	Es usado normalmentem para fijar esos header que se mantienen fijos al bajar en la pagina.

	Position: Relative = permite que un elemento se desplace respecto a lo que hubiera sido su posición normal; 
	el resto de elementos continúan en su posición ignorando al que se desplaza, lo que quiere decir que si 
	movemos un elemento no se afectan a los demás.

	Obs:
	Si un elemento tiene position: absolute o fixed y tambien la propiedad float, esta última no hará nada y 
	se respetaran los valores agregados al position.*/
}